@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 162px;
}


.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1C;
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid rgb(65, 63, 63);
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-div a {
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 12px 24px;
}

.nav-div a:hover {
    background-color: #262626;
    border-radius: 50px;
}

.Goa {
    width: 90px;
    height: 60px;
    border-radius: 50px;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button-div button {
    padding: 14px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 70px;
    background-color: #1C1C1C;
    color: white;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    display: none;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section1 {
    width: 100%;
    padding: 100px 160px;
    display: flex;
    gap: 100px;
}

.section1-div1 img {
    width: 600px;
    border-radius: 30px;
}

.section1-div2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section1-div2 h1 {
    color: white;
    font-size: 45px;
    max-width: 1000px;

}

.section1-div2 h3 {
    font-size: 30px;
    color: white;
}

.section1-div2 p {
    font-size: 25px;
    color: rgb(210, 210, 210);
    max-width: 750px;
}

.section2-div2 {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.section2-div2 h1 {
    color: white;
    font-size: 45px;
}

.section2-div2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section2-div2 ul li {
    color: rgb(210, 210, 210);
    font-size: 22px;
}

.section3-div3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section3-div3 h2 {
    color: rgb(210, 210, 210);
    font-size: 35px;
}

.section3-div3 p {
    color: rgb(210, 210, 210);
    font-size: 22px;
    line-height: 40px;
}

.section3-div3 h3 {
    color: rgb(210, 210, 210);
    font-size: 22px;
    line-height: 40px;
}

.section2-img {
    width: 600px;
    border-radius: 30px;
    height: 450px;
}

.Courses-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: rgb(190, 190, 190);
}

.Courses {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 50px;
}

.Courses-div1 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
}

.Courses-div1-box1 {
    width: 450px;
    height: 770px;
    border-radius: 1px solid red;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 25px 30px;
    gap: 20px;
}

.Courses-div1-box1 img {
    width: 400px;
    height: 450px;
    border-radius: 20px;
}

.Courses-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Courses-info h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    max-width: 400px;
}

.Courses-info p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.Courses-info button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #222222;
    color: white;
    font-size: 17px;
}

.Courses-div1-box1 img:hover {
    height: 500px;
}

.Courses-info button:hover {
    background-color: aqua;
}

.Mentors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#Mentors {
    margin-top: 100px;
}

.Mentors-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.Mentors-div {
    width: 1000px;
    height: auto;
    display: flex;
    background-color: rgb(46, 46, 46);
    border-radius: 30px;
    padding: 20px 20px;
    gap: 70px;
}

.Mentors-div img {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.languages img {
    width: 50px;
    height: 50px;
}

.Mentors-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Mentors-info p {
    font-size: 22px;
}


#about {
    margin-top: 100px;
}

.opinions-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.video-div {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.video-div video {
    width: 400px;
    border-radius: 30px;
}

@media (max-width: 1500px) {

    .section1 {
        padding: 100px 140px;
        display: flex;
        gap: 100px;
    }

    .section1-div2 h1 {
        font-size: 38px;
        max-width: 600px;
    }

    .section1-div2 h3 {
        font-size: 28px;
        color: white;
    }

    .section1-div2 p {
        font-size: 22px;
        color: rgb(210, 210, 210);
        max-width: 750px;
    }
}

@media (max-width: 1350px) {

    .nav-div a,
    .button-div {
        display: none;
    }

    .menu {
        display: block;
        background-color: #CAFF33;
        padding: 20px 20px;
        border-radius: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu img {
        width: 30px;
        height: 20px;
    }

    .section1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section1-div1 img {
        width: 550px;
    }

    .section1-div2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section2-div2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section3-div3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Mentors-div {
        width: 900px;
    }

    .video-div {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .Courses-div1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Mentors-div {
        width: 650px;
    }

    .Mentors-div img {
        width: 250px;
        height: 250px;
    }

    .languages img {
        width: 50px;
        height: 50px;
    }


}


@media (max-width: 700px) {
    header {
        padding: 50px 20px;
    }

    .Goa {
        width: 100px;
    }

    .header-main {
        padding: 9px 20px;
    }

    .section1 {
        padding: 20px 30px;
        display: flex;
        gap: 100px;
    }

    .section1-div1 img {
        width: 300px;
    }

    .section1-div2 h1 {
        font-size: 25px;
        max-width: 300px;

    }

    .section1-div2 h3 {
        font-size: 22px;
        color: white;
        width: 300px;
    }

    .section1-div2 p {
        font-size: 18px;
        color: rgb(210, 210, 210);
        width: 340px;
    }

    main {
        gap: 50px;
    }

    .section2-img {
        width: 350px;
        height: 300px;
    }

    .section2-div2 h1 {
        font-size: 30px;
        width: 300px;
    }

    .section2-div2 ul li {
        font-size: 18px;
        width: 340px;
    }

    .section3-div3 h2 {
        font-size: 30px;
        width: 300px;
    }

    .section3-div3 p {
        color: rgb(210, 210, 210);
        font-size: 18px;
        line-height: 30px;
        width: 340px;
    }

    .section3-div3 h3 {
        font-size: 22px;
        line-height: 30px;
        max-width: 340px;
    }

    .Courses-title {
        margin-top: 100px;
    }


    .Courses-div1-box1 {
        width: 350px;
        height: auto;
    }

    .Courses-div1-box1 img {
        width: 300px;
        height: 350px;
    }

    .Courses-div1-box1 img:hover {
        height: 370px;
    }

    .Courses-info h1 {
        font-size: 25px;
        max-width: 400px;
    }

    .Courses-info p {
        color: rgb(0, 0, 0);
        font-size: 18px;
    }

    .Courses-info {
        align-items: center;
        justify-content: center;
    }

    .Courses-title {
        font-size: 35px;
    }

    .Mentors-div {
        width: 340px;
    }

    .Mentors-div img {
        width: 300px;
        height: 300px;
    }

    .languages img {
        width: 50px;
        height: 50px;
    }

    .Mentors-div {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .video-div video {
        width: 320px;
    }

}